body {
    background-color: darkgray;
}
.menu {
    overflow: hidden;
    background-color: #f59f0c;
}

.menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover, .menu:hover {
    color:black;
}